### Importación de datos

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

# Se crean variables tienda, tienda2, tienda3, tienda4, que almacenan un dataframe. 
# Se utiliza la librería "pandas", se llama a la función read_csv y se le entrega como hiperparámetro la URL correspondiente.
tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

### Estructura de datos:

El conjunto de datos incluye la siguiente información:

* Producto y Categoría: Artículos vendidos y sus calificaciones.

* Precio y Envío: Valores de venta y costos asociados.

* Fecha y ubicación de compra: Información temporal y geográfica.

* Evaluación de compra: Comentarios de clientes.

* Tipo de Pago y Cuotas: Métodos utilizados por los clientes.

* Coordenadas Geográficas: Ubicación de las transacciones.

In [7]:
tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

In [ ]:
# Muestra las primeras 5 filas del dataframe de la tienda2.
tienda2.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Silla de oficina,Muebles,283600.0,15300.0,04/08/2021,Izabela de León,Medellín,1,Nequi,1,6.25184,-75.56359
1,Pandereta,Instrumentos musicales,76800.0,2300.0,26/11/2020,Blanca Ramirez,Medellín,3,Tarjeta de crédito,4,6.25184,-75.56359
2,Cama king,Muebles,443300.0,23800.0,22/10/2021,Izabela de León,Pereira,5,Tarjeta de crédito,10,4.81333,-75.69611
3,Cama king,Muebles,906200.0,46400.0,04/05/2022,Maria Alfonso,Cali,5,Tarjeta de crédito,10,3.43722,-76.52250
4,Silla de oficina,Muebles,397800.0,19400.0,26/02/2022,Lucas Olivera,Bogotá,4,Tarjeta de crédito,3,4.60971,-74.08175

In [8]:
tienda3.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Secadora de ropa,Electrodomésticos,1285100.0,66600.0,17/12/2021,Camila Rivera,Santa Marta,4,Tarjeta de crédito,4,11.24079,-74.19904
1,Mesa de noche,Muebles,290100.0,13600.0,10/02/2021,Maria Alfonso,Cali,3,Tarjeta de crédito,1,3.43722,-76.52250
2,Guitarra acústica,Instrumentos musicales,303500.0,17400.0,22/01/2023,Lucas Olivera,Bogotá,5,Tarjeta de crédito,3,4.60971,-74.08175
3,Balón de voleibol,Deportes y diversión,58800.0,3300.0,22/03/2022,Pedro Gomez,Barranquilla,4,Tarjeta de crédito,6,10.96854,-74.78132
4,Armario,Muebles,521100.0,25900.0,12/01/2022,Blanca Ramirez,Bogotá,1,Tarjeta de crédito,1,4.60971,-74.08175

In [9]:
tienda4.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Lavavajillas,Electrodomésticos,1084800.0,56000.0,11/11/2022,Rafael Acosta,Bogotá,4,Tarjeta de crédito,3,4.60971,-74.08175
1,Cama box,Muebles,473800.0,25400.0,03/01/2020,Izabela de León,Cúcuta,5,Tarjeta de crédito,2,7.89391,-72.50782
2,Balón de baloncesto,Deportes y diversión,23700.0,0.0,25/12/2022,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359
3,Modelado predictivo,Libros,57700.0,1300.0,23/11/2021,Lucas Olivera,Medellín,3,Nequi,1,6.25184,-75.56359
4,Auriculares,Electrónicos,138900.0,5600.0,25/04/2022,Blanca Ramirez,Bogotá,4,Tarjeta de crédito,7,4.60971,-74.08175

In [3]:
tienda.columns

Index(['Producto', 'Categoría del Producto', 'Precio', 'Costo de envío',
       'Fecha de Compra', 'Vendedor', 'Lugar de Compra', 'Calificación',
       'Método de pago', 'Cantidad de cuotas', 'lat', 'lon'],
      dtype='object')

In [11]:
tienda2.columns

Index(['Producto', 'Categoría del Producto', 'Precio', 'Costo de envío',
       'Fecha de Compra', 'Vendedor', 'Lugar de Compra', 'Calificación',
       'Método de pago', 'Cantidad de cuotas', 'lat', 'lon'],
      dtype='object')

In [12]:
tienda3.columns

Index(['Producto', 'Categoría del Producto', 'Precio', 'Costo de envío',
       'Fecha de Compra', 'Vendedor', 'Lugar de Compra', 'Calificación',
       'Método de pago', 'Cantidad de cuotas', 'lat', 'lon'],
      dtype='object')

In [13]:
tienda4.columns

Index(['Producto', 'Categoría del Producto', 'Precio', 'Costo de envío',
       'Fecha de Compra', 'Vendedor', 'Lugar de Compra', 'Calificación',
       'Método de pago', 'Cantidad de cuotas', 'lat', 'lon'],
      dtype='object')

In [4]:
tienda.dtypes

Producto                   object
Categoría del Producto     object
Precio                    float64
Costo de envío            float64
Fecha de Compra            object
Vendedor                   object
Lugar de Compra            object
Calificación                int64
Método de pago             object
Cantidad de cuotas          int64
lat                       float64
lon                       float64
dtype: object

In [14]:
tienda2.dtypes

Producto                   object
Categoría del Producto     object
Precio                    float64
Costo de envío            float64
Fecha de Compra            object
Vendedor                   object
Lugar de Compra            object
Calificación                int64
Método de pago             object
Cantidad de cuotas          int64
lat                       float64
lon                       float64
dtype: object

In [15]:
tienda3.dtypes

Producto                   object
Categoría del Producto     object
Precio                    float64
Costo de envío            float64
Fecha de Compra            object
Vendedor                   object
Lugar de Compra            object
Calificación                int64
Método de pago             object
Cantidad de cuotas          int64
lat                       float64
lon                       float64
dtype: object

In [16]:
tienda4.dtypes

Producto                   object
Categoría del Producto     object
Precio                    float64
Costo de envío            float64
Fecha de Compra            object
Vendedor                   object
Lugar de Compra            object
Calificación                int64
Método de pago             object
Cantidad de cuotas          int64
lat                       float64
lon                       float64
dtype: object

In [6]:
tienda.describe(include="all")

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
count,2359,2359,2.359000e+03,2359.000000,2359,2359,2359,2359.000000,2359,2359.000000,2359.000000,2359.000000
unique,51,8,NaN,NaN,1018,14,19,NaN,4,NaN,NaN,NaN
top,Microondas,Muebles,NaN,NaN,15/05/2021,Izabela de León,Bogotá,NaN,Tarjeta de crédito,NaN,NaN,NaN
freq,60,465,NaN,NaN,7,197,984,NaN,1704,NaN,NaN,NaN
mean,NaN,NaN,4.878679e+05,26018.609580,NaN,NaN,NaN,3.976685,NaN,2.943196,5.365283,-74.789417
std,NaN,NaN,6.146868e+05,32860.001783,NaN,NaN,NaN,1.415370,NaN,2.819897,2.287445,1.217827
min,NaN,NaN,7.600000e+03,0.000000,NaN,NaN,NaN,1.000000,NaN,1.000000,-4.215280,-77.281110
25%,NaN,NaN,5.575000e+04,3100.000000,NaN,NaN,NaN,3.000000,NaN,1.000000,4.609710,-75.563590
50%,NaN,NaN,2.353000e+05,12400.000000,NaN,NaN,NaN,5.000000,NaN,1.000000,4.609710,-74.199040
75%,NaN,NaN,6.781000e+05,36000.000000,NaN,NaN,NaN,5.000000,NaN,4.000000,6.251840,-74.081750
max,NaN,NaN,2.977000e+06,160800.000000,NaN,NaN,NaN,5.000000,NaN,24.000000,11.544440,-67.923900

In [17]:
tienda2.describe(include="all")

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
count,2359,2359,2.359000e+03,2359.000000,2359,2359,2359,2359.000000,2359,2359.000000,2359.000000,2359.000000
unique,51,8,NaN,NaN,1025,14,19,NaN,4,NaN,NaN,NaN
top,Iniciando en programación,Muebles,NaN,NaN,20/12/2021,Izabela de León,Bogotá,NaN,Tarjeta de crédito,NaN,NaN,NaN
freq,65,442,NaN,NaN,7,195,985,NaN,1721,NaN,NaN,NaN
mean,NaN,NaN,4.732274e+05,25216.235693,NaN,NaN,NaN,4.037304,NaN,2.902501,5.499753,-74.742963
std,NaN,NaN,5.955595e+05,31741.375166,NaN,NaN,NaN,1.356153,NaN,2.848416,2.351118,1.185997
min,NaN,NaN,7.600000e+03,0.000000,NaN,NaN,NaN,1.000000,NaN,1.000000,-4.215280,-77.281110
25%,NaN,NaN,5.455000e+04,2900.000000,NaN,NaN,NaN,4.000000,NaN,1.000000,4.609710,-75.563590
50%,NaN,NaN,2.182000e+05,11600.000000,NaN,NaN,NaN,5.000000,NaN,1.000000,4.609710,-74.199040
75%,NaN,NaN,6.777000e+05,35450.000000,NaN,NaN,NaN,5.000000,NaN,4.000000,6.251840,-74.081750
max,NaN,NaN,2.953400e+06,162500.000000,NaN,NaN,NaN,5.000000,NaN,24.000000,11.544440,-67.923900

In [18]:
tienda3.describe(include="all")

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
count,2359,2359,2.359000e+03,2359.000000,2359,2359,2359,2359.000000,2359,2359.000000,2359.000000,2359.000000
unique,51,8,NaN,NaN,1024,14,19,NaN,4,NaN,NaN,NaN
top,Kit de bancas,Muebles,NaN,NaN,01/08/2022,Maria Alfonso,Bogotá,NaN,Tarjeta de crédito,NaN,NaN,NaN
freq,57,499,NaN,NaN,8,186,983,NaN,1753,NaN,NaN,NaN
mean,NaN,NaN,4.654598e+05,24805.680373,NaN,NaN,NaN,4.048326,NaN,2.967783,5.437076,-74.733463
std,NaN,NaN,5.806434e+05,30945.889626,NaN,NaN,NaN,1.386426,NaN,2.812153,2.405272,1.224572
min,NaN,NaN,7.600000e+03,0.000000,NaN,NaN,NaN,1.000000,NaN,1.000000,-4.215280,-77.281110
25%,NaN,NaN,5.740000e+04,3100.000000,NaN,NaN,NaN,4.000000,NaN,1.000000,4.609710,-75.563590
50%,NaN,NaN,2.263000e+05,11900.000000,NaN,NaN,NaN,5.000000,NaN,2.000000,4.609710,-74.199040
75%,NaN,NaN,6.660500e+05,34950.000000,NaN,NaN,NaN,5.000000,NaN,4.000000,6.251840,-74.081750
max,NaN,NaN,2.968200e+06,158400.000000,NaN,NaN,NaN,5.000000,NaN,24.000000,11.544440,-67.923900

In [19]:
tienda4.describe(include="all")

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
count,2358,2358,2.358000e+03,2358.000000,2358,2358,2358,2358.000000,2358,2358.000000,2358.000000,2358.000000
unique,51,8,NaN,NaN,1030,14,19,NaN,4,NaN,NaN,NaN
top,Cama box,Muebles,NaN,NaN,13/11/2020,Felipe Santos,Bogotá,NaN,Tarjeta de crédito,NaN,NaN,NaN
freq,62,480,NaN,NaN,9,196,991,NaN,1720,NaN,NaN,NaN
mean,NaN,NaN,4.403629e+05,23459.457167,NaN,NaN,NaN,3.995759,NaN,2.896098,5.413519,-74.774597
std,NaN,NaN,5.687556e+05,30279.100836,NaN,NaN,NaN,1.403063,NaN,2.730393,2.376728,1.199749
min,NaN,NaN,7.600000e+03,0.000000,NaN,NaN,NaN,1.000000,NaN,1.000000,-4.215280,-77.281110
25%,NaN,NaN,5.340000e+04,2900.000000,NaN,NaN,NaN,3.000000,NaN,1.000000,4.609710,-75.563590
50%,NaN,NaN,2.094500e+05,10950.000000,NaN,NaN,NaN,5.000000,NaN,1.000000,4.609710,-74.199040
75%,NaN,NaN,6.342250e+05,33300.000000,NaN,NaN,NaN,5.000000,NaN,4.000000,6.251840,-74.081750
max,NaN,NaN,2.902200e+06,154700.000000,NaN,NaN,NaN,5.000000,NaN,18.000000,11.544440,-67.923900

#1. Análisis de facturación

# 2. Ventas por categoría

# 3. Calificación promedio de la tienda

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda